%li.user_approval_list
  .leftBox
    .userBox
      .text
        会員様
        = match_user[:user1].nickname
      .image_link
        - if match_user[:image1].present?
          = image_tag(match_user[:image1].image_url, class: "image")
        - else
          = image_tag('member_photo_noimage_thumb.png', class: "image")
  .commentBox
    .top
      メモ：
    .content
      = safe_join(match_user[:memo].split("\n"), tag(:br))
  .centerBox
    .userBox
      .text
        会員様
        = match_user[:user2].nickname
      .image_link
        - if match_user[:image2].present?
          = image_tag(match_user[:image2].image_url, class: "image")
        - else
          = image_tag('member_photo_noimage_thumb.png', class: "image")
  .approvalBox
    
    .stepBox
      %h3.subtitle
        承認済み：
      .text
        - if match_user[:step1] == 1 then
          = match_user[:user1].nickname
        - elsif match_user[:step2] == 1
          = match_user[:user2].nickname
        - else
          いません


      
    -# = form_with(model: @match, url: update_match_mypage_index_path, remote: true, class: "match_form", id: "approve_form_#{i + 1}") do |form|

    -# = form_with(model: @follow, url: create_follow_mypage_index_path, remote: true, class: "follow_form", id: "follow_form_#{i + 1}") do |form|
