.footer
  .footer_top
    %ul.listsBtn
      %li.listBtn
        = link_to "#", class: "linkBtn" do
          会社概要｜
      %li.listBtn
        = link_to "#", class: "linkBtn" do
          利用規約｜
      %li.listBtn
        = link_to "#", class: "linkBtn" do
          安心・安全の取り組みとガイド｜
      %li.listBtn
        = link_to "#", class: "linkBtn" do
          コミュニティガイドライン｜
    %ul.listsBtn
      %li.listBtn
        = link_to "#", class: "linkBtn" do
          プライバシーポリシー｜
      %li.listBtn
        = link_to "#", class: "linkBtn" do
          特定商取引法に基づく表示｜
      %li.listBtn
        = link_to "#", class: "linkBtn" do
          ヘルプ｜
      %li.listBtn
        = link_to "#", class: "linkBtn" do
          記事提供元一覧｜

  .footer_bottom
    インターネット異性紹介事業
    %br/
    (未) 届出済み　受理番号: $#%"!#%&')('"
    %br/
    © cupido, Inc. All rights reserved.
