.header
  .headerBox
    .header-logoBox
      = link_to image_tag('cupido_logo', class: 'cupidImage'), "#"
    %ul.header_navBox
      %li.headLink_list
        = link_to "#", class: "list_link" do
          幸せレポート
      %li.headLink_list
        = link_to "#", class: "list_link" do
          料金
      %li.headLink_list
        = link_to "#", class: "list_link" do
          コンセプト
      %li.headLink_list
        = link_to "#", class: "list_link" do
          クピニュース
    - if user_signed_in?
      .header_rightBox
        = link_to "#", class: "logout" do
          ログアウト
    - else
      .header_rightBox
        = link_to "#", class: "facebookLogin" do
          Facebookでログイン
        = link_to "#", class: "mailLogin" do
          メールアドレスでログイン
        