.header
  .headerBox
    .header-logoBox
      = link_to image_tag('cupido_logo.png', class: 'cupidImage'), "#"
    %ul.header_navBox
      %li.headLink_list
        = link_to "#", class: "list_link" do
          幸せレポート
      %li.headLink_list
        = link_to "#", class: "list_link" do
          料金
      %li.headLink_list
        = link_to "#", class: "list_link" do
          コンセプト
      %li.headLink_list
        = link_to "#", class: "list_link" do
          クピニュース

    // 両方のパスがなぜか消されてしまう。まあ、問題はないのだが。
    - if user_signed_in? && c_user_signed_in?
      .header_rightBox
        = link_to destroy_c_user_session_path, method: :delete, class: "logout" do
          cuログアウト
    - elsif c_user_signed_in?
      .header_rightBox
        = link_to destroy_c_user_session_path, method: :delete, class: "logout" do
          cログアウト
    - elsif user_signed_in?
      .header_rightBox
        = link_to destroy_user_session_path, method: :delete, class: "logout" do
          uログアウト
    - else
      .header_rightBox
        = link_to "#", class: "facebookLogin" do
          Facebookでログイン
        = link_to "/mypage/search", class: "mailLogin" do
          メールアドレスでログイン
        = link_to "/cmypage/search", class: "mailLogin" do
          キューピット
        -# = link_to "ログアウト", destroy_user_session_path, method: "delete", class: "btn"