%li.user_approval_list
  .leftBox
    .userBox
      .text
        お相手
      .image_link
        = image_tag('member_photo_noimage_thumb.png', class: "image")
      .nameBox
        = "#{match[:user].nickname}さん"
  .commentBox
    .top
      あなたにぴったりな所：
    .content
      - match[:match].match_users.each do |match_user|
        - if match_user.user_id != current_user.id
          = safe_join(match_user.content.split("\n"), tag(:br))
  .centerBox
    .c_userBox
      .text
        キューピット
      .image_link
        = image_tag('member_photo_noimage_thumb.png', class: "image")
      .c_nameBox
        = "#{match[:c_user].nickname}"
  - match[:match].match_users.each do |match_user|
    - if match_user.user_id == current_user.id
      - if match_user.step == 0
        .approvalBox
          = form_with(model: @match, url: approve_match_mypage_index_path, local: true, class: "approve_form", id: "approve_form") do |form|
            = form.hidden_field :c_user_id, value: match[:c_user].id
            = form.hidden_field :user_id, value: match[:user].id
            = form.hidden_field :id, value: match[:match].id
            = form.submit "会いたい！", class: "approveBtn"
          = form_with(model: @match, url: destroy_match_mypage_index_path, local: true, class: "destroy_form", id: "destroy_form") do |form|
            -# idだけで破壊してあとはmodelのdependent: :destroyで良いと思う
            = form.hidden_field :c_user_id, value: match[:c_user].id
            = form.hidden_field :user_id, value: match[:user].id
            = form.hidden_field :id, value: match[:match].id
            = form.submit "無理...", class: "rejectBtn"
      - elsif match_user.step == 1
        .approvalBox
          .approval_textBox
            承認済み

      
    -# = form_with(model: @match, url: update_match_mypage_index_path, remote: true, class: "match_form", id: "approve_form_#{i + 1}") do |form|

    -# = form_with(model: @follow, url: create_follow_mypage_index_path, remote: true, class: "follow_form", id: "follow_form_#{i + 1}") do |form|
