%li.listBox
  .imageBox
    .c_image_link{id: c_user.id}
      = image_tag "member_photo_noimage_thumb.png", class: "image"
  .bottomBox
    .nameBox
      = c_user.username
    .love_sustainableBox
      -# <i class="fas fa-heart"></i>\f004
      %i.fas.fa-heart
      80.0%
    .followerBox
      -# <i class="fas fa-user-graduate"></i>
      %i.fas.fa-user-graduate
      -# 生徒数なら@matches.length * 2、フォロワーならFollows.where(c_user: current_c_user) == @followerに.lengthだが、今回はfollowerにしようと思う。
      137人
    .specialtyBox
      .text
        %i.fas.fa-star
        得意分野
        %i.fas.fa-star
      愛知県長久手町でのデートプラン
    - follow_status = c_user.follows.find_by(user_id: current_user.id)
    - if follow_status.present?
      - if follow_status.bool == 0 then
        .followedBox{ id: c_user.id }
          = form_with(model: @follow, url: destroy_follow_mypage_index_path, remote: true, class: "follow_form", id: "follow_form_#{i + 1}") do |form|
            = form.hidden_field :c_user_id, value: c_user.id
            = form.hidden_field :user_id, value: current_user.id
            = form.submit "＋フォロー", class: "followedBtn"
      - elsif follow_status.bool == 1 then
        .followedBox{ id: c_user.id }
          = form_with(model: @follow, url: destroy_follow_mypage_index_path, remote: true, class: "follow_form", id: "follow_form_#{i + 1}") do |form|
            = form.hidden_field :c_user_id, value: c_user.id
            = form.hidden_field :user_id, value: current_user.id
            = form.submit "フォロバ", class: "followedBtn"
      - elsif follow_status.bool == 2 then
        .followBox{ id: c_user.id }
          = form_with(model: @follow, url: create_follow_mypage_index_path, remote: true, class: "follow_form", id: "follow_form_#{i + 1}") do |form|
            = form.hidden_field :c_user_id, value: c_user.id
            = form.hidden_field :user_id, value: current_user.id
            = form.submit "フォロバ", class: "followBtn"
    - else
      .followBox{ id: c_user.id }
        = form_with(model: @follow, url: create_follow_mypage_index_path, remote: true, class: "follow_form", id: "follow_form_#{i + 1}") do |form|
          = form.hidden_field :c_user_id, value: c_user.id
          = form.hidden_field :user_id, value: current_user.id
          = form.submit "＋フォロー", class: "followBtn"