.main-search-result
  .search-result-container
    .main-searchBox
      .leftBox
        #u.searchBtn
          %i.fas.fa-search
          検索条件設定
      .centerBox
        - if @items.length != 0
          = @all_c_user_length
          人中
          = num = (@c_users.current_page - 1) * @element_per_page + 1
          &sim;
          = num - 1 + @items.length
          人表示中
      .rightBox
        = link_to "#", class: "BlockBtn" do
          %i.fas.fa-th
    %main.main_container
      - if @items.length != 0 then
        - for k in 0..3 do
          %ul.line_block
            - @items.each_with_index do |item, i|
              - if k == 0 then
                = render partial: "mypage/li_render_list/user_list", locals: { image: item[:image], c_user: item[:c_user], i: i, k: k }
                - if (i+1)%4 == 0 then
                  - break;
              - elsif k == 1 then
                - if i >= 4 && i <= 7
                  = render partial: "mypage/li_render_list/user_list", locals: { image: item[:image], c_user: item[:c_user], i: i, k: k }
                  - if (i+1)%4 == 0 then
                    - break;
              - elsif k == 2 then
                - if i >= 8 && i <= 11
                  = render partial: "mypage/li_render_list/user_list", locals: { image: item[:image], c_user: item[:c_user], i: i, k: k }
                  - if (i+1)%4 == 0 then
                    - break;
              - else
                - if i >= 12 && i <= 15
                  = render partial: "mypage/li_render_list/user_list", locals: { image: item[:image], c_user: item[:c_user], i: i, k: k }
                  - if (i+1)%4 == 0 then
                    - break;
      = paginate @c_users
    .c_user_information
    .search_qualification
    = form_with class: "authenticity_token_form"


        