.main-search-result
  .search-result-container
    %section.head-container
      %ul.lists
        %li.list
          = link_to '#', class: "list_link" do
            ・【2月29日】あなたに紹介したい人が２人います
        %li.list
          = link_to '#', class: "list_link" do
            ・【3月1日】新しいメッセージが１件あります。
        -# %li= f.collection_select method, collection, value_method, text_method, {}
    -# .advertisementBox
    -#   = link_to image_tag('sustainable_love.png', class: 'image_tag'), "#"
    
    
    .main-searchBox
      .leftBox
        = link_to "#", class: "searchBtn" do
          %i.fas.fa-search
          -# \f002
          検索条件設定
      .centerBox
        1423人中1~16人表示中
      .rightBox
        = link_to "#", class: "BlockBtn" do
          %i.fas.fa-th
          -# <i class="fas fa-th"></i>\f00a
    .prayBox
      あなたの幸せがずっと続くための天使と巡り会えますように
    %main.main_container
      %ul.line_block
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
      %ul.line_block
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ミカエル
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              99.9%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              999999人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              都内卓球デートプラン
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ガブリエル
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              90.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              999人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              中高年のお見合い（婚活）
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
      %ul.line_block
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
      %ul.line_block
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ミカエル
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              99.9%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              999999人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              都内卓球デートプラン
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ガブリエル
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              90.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              999人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              中高年のお見合い（婚活）
            .followBox
              .followBtn
                ＋フォロー
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followBox
              .followBtn
                ＋フォロー
                
    .c_user_information
