.main-search-result
  .search-result-container
    .main-searchBox
      .leftBox
        = link_to "#", class: "searchBtn" do
          %i.fas.fa-search
          -# \f002
          検索条件設定
      .centerBox
        1423人中1~16人表示中
      .rightBox
        = link_to "#", class: "BlockBtn" do
          %i.fas.fa-th
          -# <i class="fas fa-th"></i>\f00a
    .prayBox
      あなたの幸せがずっと続くための天使と巡り会えますように
    %main.main_container
      - if @c_users.length != 0 then
        - for k in 0..3 do
          %ul.line_block
            - @c_users.each_with_index do |c_user, i|
              - if k == 0 then
                = render partial: "mypage/li_render_list/user_list", locals: { c_user: c_user, i: i, k: k }
                - if (i+1)%4 == 0 then
                  - break;
              -# - elsif k == 1 then
              -#   - if i >= 4 && i <= 7 then
              -#     = render partial: "mypage/li_render_list/user_list", locals: { c_user: c_user, i: i, k: k }
              -#     - if {i+1}%4 == 0 then
              -#       - break;
              -# - elsif k == 2 then
              -#   - if i >= 8 && i <= 11 then
              -#     = render partial: "mypage/li_render_list/user_list", locals: { c_user: c_user, i: i, k: k }
              -#     - if {i+1}%4 == 0 then
              -#       - break;
              -# - else
              -#   - if i >= 12 && i <= 15 then
              -#     = render partial: "mypage/li_render_list/user_list", locals: { c_user: c_user, i: i, k: k }
              -#     - if {i+1}%4 == 0 then
              -#       - break;

      %ul.line_block
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ケルビム
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              愛知県長久手町でのデートプラン
            .followedBox
              .followedBtn
                フォロー済
        %li.listBox
          .imageBox
            .image_link
              = image_tag "member_photo_noimage_thumb.png", class: "image"
          .bottomBox
            .nameBox
              ラファエル
            .love_sustainableBox
              -# <i class="fas fa-heart"></i>\f004
              %i.fas.fa-heart
              80.0%
            .followerBox
              -# <i class="fas fa-user-graduate"></i>
              %i.fas.fa-user-graduate
              137人
            .specialtyBox
              .text
                %i.fas.fa-star
                得意分野
                %i.fas.fa-star
              インドア派の恋愛術
            .followedBox
              .followedBtn
                フォロー済