.main-search-result
  .search-result-container
    %h2.subtitle
      - if @bool == "follow"
        フォロー中
      - else @bool == "follower"
        フォロワー
    %main.main_container
      - if @items.length != 0 then
        - for k in 0..3 do
          %ul.line_block
            - @items.each_with_index do |item, i|
              - if k == 0 then
                = render partial: "mypage/li_render_list/user_list", locals: { image: item[:image], c_user: item[:c_user], i: i, k: k }
                - if (i+1)%4 == 0 then
                  - break;
              - elsif k == 1 then
                - if i >= 4 && i <= 7 then
                  = render partial: "mypage/li_render_list/user_list", locals: { image: item[:image], c_user: item[:c_user], i: i, k: k }
                  - if (i+1)%4 == 0 then
                    - break;
              - elsif k == 2 then
                - if i >= 8 && i <= 11 then
                  = render partial: "mypage/li_render_list/user_list", locals: { image: item[:image], c_user: item[:c_user], i: i, k: k }
                  - if (i+1)%4 == 0 then
                    - break;
              - else
                - if i >= 12 && i <= 15 then
                  = render partial: "mypage/li_render_list/user_list", locals: { image: item[:image], c_user: item[:c_user], i: i, k: k }
                  - if (i+1)%4 == 0 then
                    - break;
      - elsif @items.length == 0 then
        .textBox
          データが見つかりませんでした。
    .c_user_information
    .search_qualification
    = form_with class: "authenticity_token_form"