.message_function_container
  .top_c_user_container
    %ul.c_user_listsBox
      - @matches_items.each do |m_items|
        %li.c_user_list
          .imageBox
            = image_tag m_items[:c_image].image_url, class: 'match_c_user_imageBtn', id: m_items[:c_user].id
              
  .middle_user_container
    %ul.user_listsBox
      %li.all_user_list
        .imageBox
          .all_show_userBtn
            全て表示
  .messages_container
    .top_information
      キューピット
    .top_messages
      - if @messages.present?
        - @messages.each do |message|
          - if message.bool == 0
            = render partial: "/shared/my_message", local: {message: message}
          - if message.bool == 1
            = render partial: "/shared/other_message", local: {message: message}
    .bottom_message
      = form_with(model: @message, url: create_message_mypage_index_path, remote: true) do |form|
        = form.hidden_field :bool, value: 0, class: "message_bool"
        = form.hidden_field :user_id, value: current_user.id, class: "message_user_id"
        = form.hidden_field :match_c_user_id, value: 0, class: "message_match_c_user_id"

        -# = form_with(model: [@group, @message], local: true) do |form|
        .inputBox
          = form.text_area :content, placeholder: "メッセージを入力" , class: "match_textarea"
          = form.label :image, class: "image_label" do
            = form.file_field :image, class: "upload_image"
            %i.far.fa-image
          .submitView
            = form.submit "", class: "message_submitBtn"
            %i.far.fa-paper-plane
            

  