.nav_side
  .side_header
    .mypage
      - if @my_image.present? && @my_image.image.present?
        = link_to image_tag(@my_image.image_url, width: "60px", class: "no_image"), profile_cmypage_index_path, class: "no_image_link"
      - else
        = link_to image_tag('member_photo_noimage_thumb.png', width: "60px", class: "no_image"), profile_cmypage_index_path, class: "no_image_link"
      = link_to profile_cmypage_index_path, class: "center_linkBox" do
        %h2.name
          = current_c_user.username
        %h2.region
          東京
        %i.fas.fa-chevron-right
      .bottomBox
        %br/
  %ul.side_main
    %li.nav_list
      = link_to search_cmypage_index_path, class: "nav_link", id: "c_user_nav_link_1" do
        ユーザーを探す
        %i.fas.fa-chevron-right
    %li.nav_list
      = link_to match_cmypage_index_path, class: "nav_link", id: "c_user_nav_link_2" do
        マッチング一覧
        %i.fas.fa-chevron-right
    %li.nav_list
      = link_to follower_cmypage_index_path, class: "nav_link", id: "c_user_nav_link_3" do
        フォロワーリスト
        %i.fas.fa-chevron-right

  %ul.side_footer
    %li.footer_list
      = link_to "#", class: "nav_link" do
        %i.far.fa-question-circle
        ヘルプ
    %li.footer_list
      = link_to "#", class: "nav_link" do
        = image_tag 'beginner.png', width: '14px', class: 'beginner-image'
        はじめての方へ

    
