.profile_container
  .top_image_container
    .image_deleteBtn
      %i.fas.fa-trash-alt
      画像を削除
    .main_imageBtn
      .main_imageBox
        - if @main_image.present? && @main_image.image.present?
          = image_tag @main_image.image_url, class: 'top_image', id: "image#{@main_image.id}"
        - else
          = image_tag 'member_photo_noimage_thumb.png', class: 'top_image', id: "image0"
    .image_container
      - if @main_image.present?
        = image_tag @main_image.image_url, class: 'slide_image', id: "image#{@main_image.id}"
      - else
        #c.add_main_imageBtn
          = image_tag 'member_photo_noimage_thumb.png', class: 'slide_image', id: "image0"
          .text
            ＋メイン写真
      - if @sub_images.present?
        - @sub_images.each do |image|
          = image_tag image.image_url, class: 'slide_image', id: "image#{image.id}"
      #c.add_sub_imageBtn
        = image_tag 'member_photo_noimage_thumb.png', class: 'no_slide_image'
        .text
          ＋写真の追加
  .profile_elements
    %h2.subtitle
      プロフィール
    = form_with(model: @c_user, url: update_profile_cmypage_index_path, local: true, class: "update_profile_form") do |form|
      .element#1
        ニックネーム：
        .flexBox
          = form.text_field :nickname, placeholder: "ニックネームを入力して下さい", value: @c_user_info.nickname, class: "update_text"
      .element#2
        ユーザーネーム：
        .flexBox
          = form.text_field :username, placeholder: "ユーザーネームを入力して下さい", value: @c_user_info.username, class: "update_text"
      .element#4
        性別：
        .flexBox
          = form.select :sex, {男: 0, 女: 1}, include_blank: '性別', selected: @c_user_info.sex, class: "update_text"
      .element#5
        年齢：
        .flexBox
          = form.select :age, 18..100, include_blank: '年齢', selected: @c_user_info.age, class: "update_text"
      .element#6
        ひとこと
        .flexBox
          = form.text_field :speciality, placeholder: 'こんなことを教えるのが得意とかあればどうぞ！', value: @c_user_info.speciality, class: "update_text"
      .element#3
        プロフィール：
        .flexBox
          = form.text_area :profile, placeholder: "自己紹介文を入力して下さい", value: @c_user_info.profile, class: "update_textarea"
      = form.submit "プロフィールを更新する", class: "submitBtn"
  .add_container